<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.missouri.niaaa.pain"
    android:versionCode="39"
    android:versionName="1.2" >

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />
<!--     <uses-permission android:name="android.permission.DEVICE_POWER" /> -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo" >

         <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".services.SensorLocationService" />

        <service
            android:name=".ActivityRecognitionService"
            android:process=":remote" >
        </service>

        <receiver
            android:name=".survey.SurveyBroadcast"
            android:permission=".SurveyBroadcast"
            android:process=":remote">
            <intent-filter>
                <action android:name="edu.missouri.niaaa.pain.action.SURVEY_TRIGGER" />
                <action android:name="edu.missouri.niaaa.pain.action.SURVEY_TRIGGER_" />
                <action android:name="edu.missouri.niaaa.pain.action.SURVEY_REMINDS" />
                <action android:name="edu.missouri.niaaa.pain.action.SURVEY_REMINDS_" />
                <action android:name="edu.missouri.niaaa.pain.action.SURVEY_ISOLATE" />
                <action android:name="edu.missouri.niaaa.pain.action.SUSPENSION" />

            </intent-filter>
        </receiver>

        <receiver
            android:name=".RebootReceiver"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>>
        </receiver>

        <receiver
            android:name=".DaemonReceiver"
            android:exported="false" >
            <intent-filter >
                <action android:name="edu.missouri.niaaa.pain.action.DAEMON" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".location.LocationBroadcast"
            android:exported="false"
            >
            <intent-filter >
                <action android:name="edu.missouri.niaaa.pain.action.START_LOCATION" />
                <action android:name="edu.missouri.niaaa.pain.action.STOP_LOCATION" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".activity.SupportActivity"
            android:screenOrientation="portrait"
            />

        <activity
            android:name=".activity.AdminManageActivity"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name=".activity.SuspensionTimePicker"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name=".activity.MorningScheduler"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name=".survey.SurveyMenu"
            android:screenOrientation="portrait"
            />

        <activity
            android:name=".survey.SurveyActivity"
            android:screenOrientation="portrait" >
        </activity>
        
        <activity
            android:name=".survey.SurveyActivityTrainingMode"
            android:screenOrientation="portrait" >
        </activity>


        <!-- for sensor -->
        <activity
            android:name=".sensor.SensorConnections"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name=".sensor.DeviceListActivity"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name=".activity.DialogActivity"
            android:theme="@android:style/Theme.Dialog" >
        </activity>


        <!-- Start Recording -->
        <!--  <service android:name=".monitor.RecordingService"></service> -->
        <receiver
            android:name=".monitor.StartupReceiver">
            <intent-filter>
            <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".monitor.ShutdownReceiver">
            <intent-filter>
            <action android:name="android.intent.action.ACTION_SHUTDOWN" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".monitor.RecordingReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="edu.missouri.niaaa.pain.action.ACTION_RECORD" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".monitor.MonitorBluetoothReceiver">
            <intent-filter>
                <action android:name="android.bluetooth.device.action.ACL_CONNECTED" />
                <action android:name="android.bluetooth.device.action.ACL_DISCONNECTED" />
                <action android:name="android.bluetooth.device.action.ACL_DISCONNECT_REQUESTED" />
                <action android:name="android.bluetooth.device.action.BOND_STATE_CHANGED" />
                <action android:name="android.bluetooth.adapter.action.STATE_CHANGED" />
            </intent-filter>
        </receiver>
        
        <receiver
            android:name=".monitor.TimeChangedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.TIME_SET" />
            </intent-filter>    
        </receiver>


        <!-- End Recording -->
    </application>

</manifest>
