<root>
<menu>
    <item type="select" file="_MorningReportParcel.xml" name="MORNING_REPORT">Morning Report</item>
    <item type="select" file="_RandomAssessmentParcel.xml" name="RANDOM_ASSESSMENT">Random</item>
    <item type="select" file="_InitialPainMedicationParcel.xml" name = "INITIAL_PAIN">Initial Pain</item>
    <item type="select" file="_PainMedicationFollowupParcel.xml" name="PAIN_FOLLOWUP">Pain Followup</item>
    <item type="select" file="_InitialDrinkingParcel.xml" name = "INITIAL_DRINKING">Initial Drinking</item>
    <item type="select" file="_DrinkingFollowupParcel.xml" name="DRINKING_FOLLOWUP">Drinking Followup</item>
    <item type="select" file="_DualFollowupParcel.xml" name="DUAL_FOLLOWUP">Dual Followup</item>
</menu>

<!-- <components>
	<sensor type="internal" name="accelerometer" interval="1s"/>
</components> -->
</root>